<div class="trail">
    <a href="{{space.permalink}}" title="back to all entries in {{space.title}}" class="back-link">&laquo; back to all entries</a>
</div>

<div class="span12">

    <img src="{{idea.images.first.medium_large}}" alt="#" class="photo" />
    
    <div class="span5">
        <h1>{{idea.title}}</h1>
        <div id="entry-meta"><a href="{{idea.user.profile_url}}" title="link to profile for {{idea.user.nickname}} on {{idea.user.provider}}"><img src="{{idea.user.image_url}}" alt="avatar for {{%idea.user%}}" width="25" height="25" class="avatar" /></a><span class="author">by <a href="{{idea.user.profile_url}}" title="link to profile for {{user.nickname}} on {{idea.user.provider}}">{{idea.user.nickname}}</a></span>{% if idea.user.uuid == current_user.uuid %}<a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="btn edit">edit {{ theme.idea_context }}</a>{% endif %}</div>
        <div id="entry-detail">{{idea.content | markdown}}</div>
        
        <ul class="actions-menu">
            {% if idea.liked? %}
            <li><span class="like on">{{ theme.like_context }} ({{ idea.likes }})</span></li>
            {% else %}
            <li><div class="likebtn like" the_link="{{idea.like_link}}"><i class="star-empty"></i> {{ theme.like_context }} <span class="likecount">({{idea.likes}})</span></div></li>
            {% endif %}
            <li class="alt"><a href="#comments-form" title="link to comments for {{idea.title}}" class="comment">+ Add {{ theme.comment_context }}</a></li>
        </ul>

    </div>
    
    {% if idea.interested_users != empty %}
    <div class="interest span12">
        <h3>People interested in this {{ theme.idea_context }}</h3>

        <ul class="interested-people">
          {% for user in idea.interested_users %}
              <li>
                <a href="{{ user.profile_url }}" title="link to {{ user.nickname }} on {{ user.provider }} profile">
                <a href="{{user.profile_url}}" title="link to profile for {{user.nickname}} on {{user.provider}}"><img src="{{ user.image_url }}" alt="{{ user.nickname }}" class="avatar" /></a>
                </a>
              </li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="comments span12">

        <h3>Comments</h3>
        
        <div id="comments-form">
        {% if current_user %}
        <form action="{{idea.permalink}}/comments" method="post" charset="utf-8">
            <div class="input"><textarea id="comment_body" name="comment[body]"></textarea></div>
            <input type="submit" name="submit" value="Submit {{ theme.comment_context }}" class="btn primary submit" />
            <div class="checkarea share"><input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this {{ theme.comment_context }} to {{current_user.provider}}?</div>
            <div class="checkarea share">
                {% assign subscription = idea.subscription %}
                {% if subscription %}
                  {% if subscription.active? %}
                    <p>You are already subscribed to email notifications for this thread</p>
                  {% else %}
                    <p>You have unsubscribed to email notifications for this thread</p>
                  {% endif %}
                {% else %}
                  <label class="checkbox" style="width: auto;">
                    <input type="checkbox" name="comment[subscribe_to_notifications]"/ > subscribe to notifications for this thread?
                    <br/><br/>
                  </label>
                {% endif %}

            </div>
        </form>
        {% else %}
            <div class="logged-out">
                <ul class="auth">
                    <li class="twitter"><a href="/auth/twitter" class="button"><span></span>Twitter</a></li>
                    <li class="facebook"><a href="/auth/facebook" class="button"><span></span>Facebook</a></li>
                </ul>
                <p><strong>to add a {{ theme.comment_context }}, {{ theme.like_context }} or add a new {{ theme.idea_context }} login with:</strong></p>
            </div>
        {% endif %}
        </div>
        
        {% if idea.comments != empty %}
        <ol>
            {% for comment in idea.comments %}
            <li><a href="{{comment.user.profile_url}}" title="link to profile for {{comment.user.nickname}} on {{comment.user.provider}}"><img src="{{comment.user.image_url}}" alt="avatar for {{%comment.user.name%}}" class="avatar" /></a><div class="author">{{comment.created_at | date: "%b %m %Y"}} <strong><strong><a href="{{comment.user.profile_url}}" title="link to profile for {{comment.user.nickname}} on {{comment.user.provider}}">{{comment.user.nickname}}</a></strong></strong> said...</div><div class="comment">{{comment.body | markdown}}</div></li>
            {% endfor %}
        </ol>
        {% else %}
        <ol>
            <li><p class="no-comments">Nobody has added a {{ theme.comment_context }} yet, maybe you could be the first?</p></li>
        </ol>
        {% endif %}
    </div>
    
</div>